body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Fruktur', cursive;
  color: white;
}

h1 {
  font-size: 320%;
}

button {
  height: 200px;
  width: 150px;
  background: transparent;
  border: none;
  font-size: 0;
}

.game-board {
  display:flex;
  padding-top: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  flex-direction: row;
  background-color: rgb(113, 207, 223);
}
.square{
  height: 150px;
  width: 200px;
  font-size: 80px;
  padding-top: 50px;
  align-items: center;
  border-color: black;
  border-style: solid;
  color: black;
}

.visible{
  background: rgb(113, 207, 223);
  font-size: 100%;
  height: 50px;
  width: auto;
}
